In [ ]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 1.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [ ]:
import pymysql

**Now connect to the cloud database using connectivity parameters**

In [ ]:
con=pymysql.connect(host='mysql-pyprojects-python-apps.b.aivencloud.com',port=18733,user='praffull',password='AVNS_rAHnLeXr31XIltE9DAh',database='sharayudb')
print('connected successfully to MySQL Cloud DB Singapore server...')

connected successfully to MySQL Cloud DB Singapore server...

In [ ]:
curs=con.cursor()

In [ ]:
curs.execute("select * from students")
data=curs.fetchall()
print(data)

((121, 'tom cruise', 'generative ai'), (122, 'keanu reeves', 'core python'), (127, 'amir khan', 'mongodb atlas'))

In [ ]:
curs.execute("select * from employees")
data=curs.fetchall()
print(data)

((101, 'praffull', 'data', 'analyst', 'mumbai', 35900.0), (102, 'sharayu', 'development', 'spring developer', 'hyderabad', 48700.0))

In [ ]:
curs.execute("select * from accounts")
data=curs.fetchall()
print(data)

((1001, 'Joe Root', 'saving', 113000.0), (1002, 'Alexis Mac Allister', 'current', 28900.0), (1003, 'Ben Stokes', 'fixed', 55000.0), (1004, 'Marcus Rashford', 'ppf', 47600.0), (1005, 'Jofra Archer', 'saving', 30300.0), (1006, 'Bukayo Saka', 'current', 31200.0), (1007, 'Jos Buttler', 'ppf', 63400.0), (1008, 'Phil Foden', 'fixed', 29200.0), (1009, 'Moeen Ali', 'saving', 39200.0), (1010, 'Jack Grealish', 'current', 80100.0), (1011, 'Chris Woakes', 'ppf', 97300.0), (1012, 'Declan Rice', 'fixed', 58800.0), (1013, 'Sam Curran', 'saving', 40400.0), (1014, 'Cole Palmer', 'current', 50500.0), (1015, 'Jonny Bairstow', 'ppf', 48700.0), (1016, 'James Maddison', 'fixed', 29400.0), (1017, 'Ollie Pope', 'saving', 68600.0), (1018, 'Jordan Henderson', 'current', 49700.0), (1019, 'Ben Stokes', 'ppf', 36500.0), (1020, 'Trent Alexander-Arnold', 'fixed', 70800.0), (1021, 'Mark Wood', 'saving', 39400.0), (1022, 'Mason Mount', 'current', 39500.0), (1023, 'Alexander Isak', 'ppf', 57200.0), (1024, 'Mohammed Salah', 'fixed', 30200.0), (1025, 'Liam Livingstone', 'saving', 69200.0), (1026, 'Callum Wilson', 'current', 79300.0), (1027, 'Alex Hales', 'ppf', 79900.0), (1028, 'Kalvin Phillips', 'fixed', 78800.0), (1029, 'David Willey', 'saving', 58100.0), (1030, 'Dominik Szoboszlai', 'current', 89400.0), (1031, 'Tom Banton', 'ppf', 98100.0), (1032, 'Luke Shaw', 'fixed', 88700.0), (1033, 'Sam Billings', 'saving', 49700.0), (1034, 'Kieran Trippier', 'current', 39800.0), (1035, 'Pat Cummins', 'ppf', 58900.0), (1036, 'James Tarkowski', 'fixed', 79500.0), (1037, 'Dom Sibley', 'saving', 89200.0), (1038, 'Harvey Barnes', 'current', 50200.0), (1039, 'Sadio Mane', 'ppf', 49400.0), (1040, 'Tyrone Mings', 'fixed', 49900.0), (1041, 'Steven Finn', 'saving', 59300.0), (1042, 'Anthony Gordon', 'current', 69700.0), (1043, 'Danny Briggs', 'ppf', 69300.0), (1044, 'Darwin Nunez', 'fixed', 69100.0), (1045, 'Steve Smith', 'saving', 49400.0), (1046, 'James Justin', 'current', 59400.0), (1047, 'Enzo Fernandez', 'ppf', 68700.0), (1048, 'Lewis Dunk', 'fixed', 39800.0), (1049, 'Chris Jordan', 'saving', 29700.0), (1050, 'Virgil Van Dijk', 'current', 79900.0))

In [ ]:
con.close()