In [1]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 3.5 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [2]:
import pymysql

In [5]:
con=pymysql.connect(host='mysql-pyprojects-python-apps.b.aivencloud.com',port=18733,user='praffull',password='AVNS_rAHnLeXr31XIltE9DAh',database='sharayudb')
print('connected to mysql cloud database successfully')

connected to mysql cloud database successfully

In [6]:
curs=con.cursor()

In [7]:
curs.execute("select * from students")
data=curs.fetchall()
print(data)
#tuple of tuples

((121, 'tom cruise', 'generative ai'), (122, 'keanu reeves', 'core python'), (127, 'amir khan', 'mongodb atlas'))

In [8]:
for st in data:
  print(st)

(121, 'tom cruise', 'generative ai')
(122, 'keanu reeves', 'core python')
(127, 'amir khan', 'mongodb atlas')

In [9]:
for st in data:
  print(st[1])

tom cruise
keanu reeves
amir khan

In [66]:
curs.execute("select * from accounts")

50

In [67]:
data=curs.fetchone()
print(data)

(1001, 'Joe Root', 'saving', 113000.0)

In [68]:
curs.execute("select * from accounts")

50

In [72]:
data=curs.fetchmany(3)
print(data)

((1010, 'Jack Grealish', 'current', 80100.0), (1011, 'Chris Woakes', 'ppf', 97300.0), (1012, 'Declan Rice', 'fixed', 58800.0))