In [1]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 2.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-pyprojects-python-apps.b.aivencloud.com',port=18733,user='praffull',password='AVNS_rAHnLeXr31XIltE9DAh',database='sharayudb')
print('connected to mysql cloud database successfully')

connected to mysql cloud database successfully

In [ ]:
rno=int(input('Enter registration Number : '))
snm=input('Enter name : ')
cou=input('Enter course : ')

Enter registration Number : 124
Enter name : soham
Enter course : agentic ai

In [5]:
curs=con.cursor()

In [ ]:
curs.execute(f"insert into students values({rno},'{snm}','{cou}')")
con.commit()
print('student data inserted successfully')

student data inserted successfully

In [ ]:
no=int(input('Enter account number : '))
nm=input('Enter account name : ')
ty=input('Enter account type : ')
bl=float(input('Enter balance : '))

Enter account number : 1051
Enter account name : Sharayu
Enter account type : fixed
Enter balance : 35760

In [ ]:
curs=con.cursor()

In [ ]:
curs.execute(f"insert into accounts values({no},'{nm}','{ty}',{bl})")
con.commit()
print('new account opened in the DB')

new account opened in the DB

In [4]:
no=int(input('Enter employee number : '))
nm=input('Enter employee name : ')
dp=input('Enter department : ')
po=input('Enter post : ')
lo=input('Enter work location : ')
sl=float(input('Enter salary : '))

Enter employee number : 103
Enter employee name : megha
Enter department : projects
Enter post : coordinator
Enter work location : tokyo
Enter salary : 52100

In [6]:
curs.execute(f"insert into employees values({no},'{nm}','{dp}','{po}','{lo}',{sl})")
con.commit()
print('new employee added to DB')

new employee added to DB

In [7]:
con.close()