In [1]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 3.7 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [2]:
import pymysql

In [15]:
con=pymysql.connect(host='mysql-pyprojects-python-apps.b.aivencloud.com',port=18733,user='praffull',password='AVNS_rAHnLeXr31XIltE9DAh',database='sharayudb')
print('connected to mysql cloud database successfully')

connected to mysql cloud database successfully

In [19]:
rno=int(input('Enter registration Number : '))
snm=input('Enter name : ')
cou=input('Enter course : ')

Enter registration Number : 124
Enter name : soham
Enter course : agentic ai

In [20]:
curs=con.cursor()

In [21]:
curs.execute(f"insert into students values({rno},'{snm}','{cou}')")
con.commit()
print('student data inserted successfully')

student data inserted successfully

In [14]:
con.close()