In [1]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-pyprojects-python-apps.b.aivencloud.com',port=18733,user='praffull',password='AVNS_rAHnLeXr31XIltE9DAh',database='sharayudb')
print('connected to mysql cloud database successfully')

connected to mysql cloud database successfully

In [4]:
curs=con.cursor()

In [13]:
no=int(input('Enter student registration number : '))
curs.execute(f"select * from students where regno={no}")
data=curs.fetchone()
#print(data)
try:
  print(f"Student Name : {data[1]}")
  print(f"Course : {data[2]}")
except:
  print('student does not exist')

Enter student registration number : 155
student does not exist

In [17]:
ty=input('Enter account number to search : ')
curs.execute(f"select * from accounts where acctype='{ty}'")
data=curs.fetchall()
#print(data)
for acc in data:
  print(acc[1])

Enter account number to search : saving
Joe Root
Jofra Archer
Moeen Ali
Sam Curran
Ollie Pope
Mark Wood
Liam Livingstone
David Willey
Sam Billings
Dom Sibley
Steven Finn
Steve Smith
Chris Jordan

In [20]:
brand=input('Enter car company name : ')
curs.execute(f"select * from cars where company='{brand}'")
data=curs.fetchall()
for car in data:
  print(car)

Enter car company name : maruti suzuki
('ms131', 'Swift', 'Maruti Suzuki', 591000.0)
('ms132', 'Grand Vitara', 'Maruti Suzuki', 1035000.0)
('ms133', 'Brezza', 'Maruti Suzuki', 799000.0)
('ms134', 'Baleno', 'Maruti Suzuki', 642000.0)
('ms135', 'WagonR', 'Maruti Suzuki', 547000.0)

In [21]:
con.close()