In [1]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 1.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-pyprojects-python-apps.b.aivencloud.com',port=18733,user='praffull',password='AVNS_rAHnLeXr31XIltE9DAh',database='sharayudb')
print('connected to mysql cloud database successfully')

connected to mysql cloud database successfully

In [4]:
curs=con.cursor()

In [5]:
no=int(input('Enter student registration number : '))
curs.execute(f"select * from students where regno={no}")
data=curs.fetchone()
#print(data)
try:
  print(f"Student Name : {data[1]}")
  print(f"Course : {data[2]}")
except:
  print('student does not exist')

Enter student registration number : 122
Student Name : keanu reeves
Course : core python

In [6]:
ty=input('Enter account number to search : ')
curs.execute(f"select * from accounts where acctype='{ty}'")
data=curs.fetchall()
#print(data)
for acc in data:
  print(acc[1])

Enter account number to search : fixed
Ben Stokes
Phil Foden
Declan Rice
James Maddison
Trent Alexander-Arnold
Mohammed Salah
Kalvin Phillips
Luke Shaw
James Tarkowski
Tyrone Mings
Darwin Nunez
Lewis Dunk
Sharayu

In [7]:
brand=input('Enter car company name : ')
curs.execute(f"select * from cars where company='{brand}'")
data=curs.fetchall()
for car in data:
  print(car)

Enter car company name : honda
('ho161', 'City', 'Honda', 950000.0)
('ho162', 'Amaze', 'Honda', 665000.0)

In [13]:
sub=input('Enter subject in course name : ')
curs.execute(f"select * from students where course like '%{sub}%'")
data=curs.fetchall()
#print(data)
for stud in data:
  print(stud)

Enter subject in course name : data
(123, 'aditi deshpande', 'data science')
(128, 'kartikesh tongase', 'data analyst')
(131, 'Bhagyashree', 'AI-ML and Data Science')
(132, 'Milind', 'Data Analytics')
(221, 'Shrutesh Wadibhasme', 'AI and Data science')
(331, 'Mansi Kalse', 'data ')

In [14]:
con.close()