In [ ]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 2.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [ ]:
import pymysql

In [ ]:
con=pymysql.connect(host='mysql-pyprojects-python-apps.b.aivencloud.com',port=18733,user='praffull',password='AVNS_rAHnLeXr31XIltE9DAh',database='sharayudb')
print('connected to mysql cloud database successfully')

connected to mysql cloud database successfully

In [ ]:
curs=con.cursor()

In [ ]:
rno=int(input("Enter student's registration number : "))
newcourse=input('Enter new course name : ')
cnt=curs.execute(f"update students set course='{newcourse}' where regno={rno}")
con.commit()
if cnt==1:
  print('course modified')
else:
  print('registration number not found')

Enter student's registration number : 114
Enter new course name : java spring boot
course modified

In [ ]:
eno=int(input('Enter employee number : '))
newsal=float(input('Enter new salary : '))
cnt=curs.execute(f"update employees set salary={newsal} where empno={eno}")
con.commit()
if cnt>0:
  print('salary updated')
else:
  print('salary update failed')

Enter employee number : 101
Enter new salary : 41000
salary updated

In [ ]:
# deposit amount to an account
ano=int(input('Enter account number : '))
amt=float(input('Enter deposit amount : '))
cnt=curs.execute(f"update accounts set balance=balance+{amt} where accno={ano}")
con.commit()
if cnt==1:
  print('amount deposited...')
else:
  print('account does not exist')

Enter account number : 1002
Enter deposit amount : 5000
amount deposited...

In [ ]:
# Withdraw amount from an account
ano=int(input('Enter account number : '))
amt=float(input('Enter withdraw amount : '))
try:
  cnt=curs.execute(f"update accounts set balance=balance-{amt} where accno={ano}")
  con.commit()
  if cnt==1:
    print('amount withdrawn...')
  else:
    print('account does not exist')
except:
  print('you dont have enough balance for withdraw')

Enter account number : 1051
Enter withdraw amount : 45000
you dont have enough balance for withdraw

In [ ]:
fromano=int(input('Enter from account number : '))
toano=int(input('Enter from account number : '))
amt=float(input('Enter transfer amount : '))
try:
  curs.execute(f"update accounts set balance=balance-{amt} where accno={fromano}")
  curs.execute(f"update accounts set balance=balance+{amt} where accno={toano}")
  curs.execute(f"insert into transferlog(fromaccount,toaccount,amount,transdate) values({fromano},{toano},{amt},now())")
  con.commit()
  print('transfer successful')
except:
  print('transfer failed')

Enter from account number : 1050
Enter from account number : 1045
Enter transfer amount : 1700
transfer successful

In [ ]:
con.close()