In [1]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 1.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-pyprojects-python-apps.b.aivencloud.com',port=18733,user='praffull',password='AVNS_rAHnLeXr31XIltE9DAh',database='sharayudb')
print('connected to mysql cloud database successfully')

connected to mysql cloud database successfully

In [4]:
curs=con.cursor()

In [8]:
rno=int(input("Enter student's registration number : "))
newcourse=input('Enter new course name : ')
cnt=curs.execute(f"update students set course='{newcourse}' where regno={rno}")
con.commit()
if cnt==1:
  print('course modified')
else:
  print('registration number not found')

Enter student's registration number : 543
Enter new course name : rest api
registration number not found

In [10]:
eno=int(input('Enter employee number : '))
newsal=float(input('Enter new salary : '))
cnt=curs.execute(f"update employees set salary={newsal} where empno={eno}")
con.commit()
if cnt>0:
  print('salary updated')
else:
  print('salary update failed')

Enter employee number : 111
Enter new salary : 45000
salary update failed

In [11]:
con.close()