# CRUD project on laptops table

create table laptops
(
prodid int primary key auto_increment,
modelnm varchar(100),
brand varchar(30),
processor varchar(50),
screen float,
ramgb int,
storagegb int,
price float
);

In [1]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 1.9 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [2]:
import pymysql

In [3]:
con=pymysql.connect(host='mysql-pyprojects-python-apps.b.aivencloud.com',port=18733,user='praffull',password='AVNS_rAHnLeXr31XIltE9DAh',database='sharayudb')
print('connected successfully to MySQL Cloud DB Singapore server...')

connected successfully to MySQL Cloud DB Singapore server...

# CRUD operations of Laptops table

In [4]:
# Function that inserts new data to the table
def newlaptop():
  nm=input('Enter model name : ')
  br=input('Enter brand : ')
  pr=input('Enter processor : ')
  sc=float(input('Enter screen size : '))
  rm=int(input('Enter RAM size in GB : '))
  st=int(input('Enter storage SSD/HDD in GB : '))
  co=float(input('Enter price : '))
  curs=con.cursor()
  curs.execute(f"insert into laptops(modelnm,brand,processor,screen,ramgb,storagegb,price) values ('{nm}','{br}','{pr}',{sc},{rm},{st},{co})")
  con.commit()
  print('New laptop added to DB')

In [5]:
# Function that displays all the data
def showlaptops():
  curs=con.cursor()
  curs.execute("select * from laptops")
  data=curs.fetchall()
  for lap in data:
    print(lap)

In [13]:
# Function to search data (laptops on brand)
def searchlaptops(comp):
  curs=con.cursor()
  curs.execute(f"select * from laptops where brand='{comp}'")
  data=curs.fetchall()
  for lap in data:
    print(lap)

In [ ]:
# Function that modifies data (price of laptop)
def modifyprice(lapid,newprice):
  print('price modified')

In [ ]:
# Function that deletes data
def deletelaptop(lapid):
  print('laptop deleted')

In [18]:
# Menu to perform CRUD operations
cho=None
while cho!=6:
  print("1. Add new laptop")
  print("2. Show all laptops")
  print("3. Search laptops on brand")
  print("4. Update price")
  print("5. Delete a laptop")
  print("6. Exit")
  cho=int(input('Enter your choice : '))
  if cho==1:
    newlaptop()
  elif cho==2:
    showlaptops()
  elif cho==3:
    cnm=input('Enter company name : ')
    searchlaptops(cnm)
  else:
    print('Invalid choice')

1. Add new laptop
2. Show all laptops
3. Search laptops on brand
4. Exit
Enter your choice : 2
(1, 'latitude 5490', 'dell', 'i5 8th Generation', 14.0, 16, 512, 79000.0)
(2, 'gravity', 'hp', 'i3', 15.6, 8, 1000, 36000.0)
1. Add new laptop
2. Show all laptops
3. Search laptops on brand
4. Exit
Enter your choice : 4
Invalid choice