**python input output examples**

In [3]:
nm=input('Enter your name : ')
print(f'welcome {nm} to SohamGlobal')

Enter your name : aditi
welcome aditi to SohamGlobal

In [5]:
nm=input('Enter name : ')
ct=input('Enter city : ')
print(f'thanks {nm} for joining from {ct}')

Enter name : praffull
Enter city : london
thanks praffull for joining from london

Every input in python is considered as a string by default

In [11]:
n=input('Enter a number : ')
print(n)
print(type(n))

Enter a number : 75
75
<class 'str'>

In [12]:
n=int(input('Enter a number : '))
print(n)
print(type(n))

Enter a number : 75
75
<class 'int'>

In [14]:
a=int(input('Enter first number : '))
b=int(input('Enter second number : '))
c=a+b
print(f'sum is {c}')

Enter first number : 23
Enter second number : 69
sum is 92

In [15]:
a=float(input('Enter first number : '))
b=float(input('Enter second number : '))
c=a+b
print(f'sum is {c}')

Enter first number : 36.92
Enter second number : 25.77
sum is 62.69

In [18]:
custnm=input('Enter customer name : ')
amount=float(input('Enter amount : '))
disc=amount*10/100
print(f'Discount is {disc}')
bill=amount-disc
print(f'{custnm} your net bill is {bill}')

Enter customer name : pat cummins
Enter amount : 6730
Discount is 673.0
pat cummins your net bill is 6057.0

In [23]:
n=int(input('Enter a number : '))
sq=n**2
print(f'square of {n} is {sq}')

Enter a number : 57
square of 57 is 3249

In [25]:
x=int(input('Enter first number : '))
y=int(input('Enter second number : '))
print(f'Addition : {x+y}')
print(f'Subtraction : {x-y}')
print(f'Multiplication : {x*y}')
print(f'Division : {x/y}')

Enter first number : 23
Enter second number : 12
Addition : 35
Subtraction : 11
Multiplication : 276
Division : 1.9166666666666667

In [29]:
studnm=input('Enter student name : ')
marks=int(input('Enter marks : '))
print(f'Congrats {studnm} you are pass')

Enter student name : sharayu
Enter marks : 92
Congrats sharayu you are fail