In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.3-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.3-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 30.2 MB/s eta 0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 25.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.3

In [2]:
from pymongo import MongoClient

In [3]:
client=MongoClient("mongodb+srv://praffull:mongodb913@sharayucluster.vzrlbsf.mongodb.net/?appName=sharayucluster")

In [4]:
db=client["spiderdb"]

In [5]:
coll1=db["jobapps"]

In [6]:
for doc in coll1.find():
  print(doc)

{'_id': ObjectId('68fd96b673e2928a82cebea6'), 'appno': 12756, 'applicantname': 'tom cruise', 'qualification': 'mba', 'skills': ['python', 'mysql', 'powerbi'], 'experience': 2, 'gender': 'male', 'emailid': 'cruise@outlook.com'}
{'_id': ObjectId('68fd994c0bbc67222dcebea4'), 'appno': 12768, 'applicantname': 'emily blunt', 'qualification': 'be (it)', 'skills': ['java', 'python', 'django', 'spring boot'], 'experience': 0, 'gender': 'female', 'projects': 'review sentiment analysis using AIML', 'emailid': 'blunt@gmail.com'}

In [7]:
coll2=db["students"]

In [8]:
for document in coll2.find():
  #print(doc)
  print(f"Name : {document['name']} | Course: {document['course']}")

Name : soham | Course: spring boot
Name : shailaja | Course: spark
Name : megha | Course: ai agents
Name : sharayu | Course: oracle
Name : Sparsh  | Course: Quant Finance
Name : kartikesh | Course: python
Name : Devyani | Course: cyber security
Name : Bhagyashree | Course: Spring Boot
Name : gauri | Course: core python
Name : mayuri | Course: core python
Name : Prajakta | Course: python

In [9]:
coll3=db["players"]

In [10]:
for doc in coll3.find({"country":"england"}):
  print(doc)

{'_id': ObjectId('68fee995c94c6d2e60cebeae'), 'playerno': 111, 'playername': 'ben stokes', 'sport': 'cricket', 'country': 'england', 'age': 34, 'gender': 'male'}
{'_id': ObjectId('68fee995c94c6d2e60cebeb0'), 'playerno': 113, 'playername': 'sophie ecclestone', 'sport': 'cricket', 'country': 'england', 'age': 25, 'gender': 'female'}
{'_id': ObjectId('68fee996c94c6d2e60cebeb5'), 'playerno': 118, 'playername': 'lucy bronze', 'sport': 'football', 'country': 'england', 'age': 33, 'gender': 'female'}
{'_id': ObjectId('68fee996c94c6d2e60cebeb8'), 'playerno': 121, 'playername': 'sarah taylor', 'sport': 'cricket', 'country': 'england', 'age': 36, 'gender': 'female'}
{'_id': ObjectId('68fee996c94c6d2e60cebec0'), 'playerno': 129, 'playername': 'heather knight', 'sport': 'cricket', 'country': 'england', 'age': 34, 'gender': 'female'}

In [11]:
db2=client["sohamdb"]

In [12]:
coll4=db2["films"]

In [13]:
genre=input("Enter genre : ")
condition={}
condition["category"]=genre
print(condition)

Enter genre : romance
{'category': 'romance'}

In [14]:
for doc in coll4.find(condition):
  print(doc)

{'_id': '154', 'filmnm': 'mughal e azam', 'category': 'romance', 'releaseyr': 1960, 'director': 'k asif', 'actor': 'dilip kumar', 'actress': 'madhubala', 'music': 'naushad', 'budgetmn': 15, 'collectionmn': 110}
{'_id': '156', 'filmnm': 'maya', 'category': 'romance', 'releaseyr': 1961, 'actor': 'dev anand', 'actress': 'mala sinha', 'music': 'salil choudhari'}
{'_id': '157', 'filmnm': '1942 a love story', 'category': 'romance', 'releaseyr': 1994, 'director': 'vidhu vinod chopra', 'actor': 'anil kapoor', 'actress': 'manisha koirala', 'music': 'r d burman', 'budgetmn': 257, 'collectionmn': 896}
{'_id': '161', 'filmnm': 'silsila', 'category': 'romance', 'releaseyr': 1981, 'director': 'yash chopra', 'actor': 'amitabh bachchan', 'actress': 'rekha', 'music': 'shiv hari'}