In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.3-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.3-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 20.2 MB/s eta 0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 20.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.3

In [2]:
from pymongo import MongoClient

In [3]:
client=MongoClient("mongodb+srv://praffull:mongodb913@sharayucluster.vzrlbsf.mongodb.net/?appName=sharayucluster")

In [ ]:
db=client["spiderdb"]

In [ ]:
coll1=db["students"]

In [ ]:
rno=int(input('Enter roll number : '))
nm=input('Enter student name : ')
co=input('Enter course : ')
dic={}
dic["rollno"]=rno
dic["name"]=nm
dic["course"]=co
coll1.insert_one(dic)
print("New student inserted to mongodb collection")

Enter roll number : 255
Enter student name : sharayu
Enter course : oracle
New student inserted to mongodb collection

In [4]:
db2=client["sohamdb"]

In [5]:
coll2=db2["films"]

In [7]:
fid=input("Enter filmID : ")
fnm=input("Enter film name : ")
cat=input("Enter category : ")
ryr=int(input("Enter release year : "))
dir=input("Enter director : ")
act=input("Enter actor : ")
dic={}
dic["_id"]=fid
dic["filmnm"]=fnm
dic["category"]=cat
dic["releaseyr"]=ryr
dic["director"]=dir
dic["actor"]=act
print(dic)

Enter filmID : 164
Enter film name : The Boy in the Striped Pyjamas
Enter category : war
Enter release year : 2008
Enter director : Mark Herman
Enter actor : Asa Butterfield
{'_id': '164', 'filmnm': 'The Boy in the Striped Pyjamas', 'category': 'war', 'releaseyr': 2008, 'director': 'Mark Herman', 'actor': 'Asa Butterfield'}

In [8]:
coll2.insert_one(dic)
print("new film inserted successfully")

new film inserted successfully