In [2]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 3.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [3]:
import pandas
import pymysql

In [9]:
con=pymysql.connect(host='mysql-pyprojects-python-apps.b.aivencloud.com',port=18733,user='praffull',password='AVNS_rAHnLeXr31XIltE9DAh',database='sharayudb')
print('connected to mysql cloud database successfully')

connected to mysql cloud database successfully

In [5]:
df=pandas.read_sql("select * from accounts",con)
print(df)

/tmp/ipython-input-117066178.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pandas.read_sql("select * from accounts",con)

    accno                   accnm  acctype   balance
0    1001                Joe Root   saving  110500.0
1    1002     Alexis Mac Allister  current   33900.0
2    1003              Ben Stokes    fixed   55000.0
3    1004         Marcus Rashford      ppf   47600.0
4    1005            Jofra Archer   saving   30300.0
5    1006             Bukayo Saka  current   31200.0
6    1007             Jos Buttler      ppf   63400.0
7    1008              Phil Foden    fixed   29200.0
8    1009               Moeen Ali   saving   39200.0
9    1010           Jack Grealish  current   80100.0
10   1011            Chris Woakes      ppf   97300.0
11   1012             Declan Rice    fixed   58800.0
12   1013              Sam Curran   saving   40400.0
13   1014             Cole Palmer  current   50500.0
14   1015          Jonny Bairstow      ppf   48700.0
15   1016          James Maddison    fixed   29400.0
16   1017              Ollie Pope   saving   68600.0
17   1018        Jordan Henderson  current   49700.0
18   1019              Ben Stokes      ppf   36500.0
19   1020  Trent Alexander-Arnold    fixed   70800.0
20   1021               Mark Wood   saving   39400.0
21   1022             Mason Mount  current   39500.0
22   1023          Alexander Isak      ppf   57200.0
23   1024          Mohammed Salah    fixed   36450.0
24   1025        Liam Livingstone   saving   69200.0
25   1026           Callum Wilson  current   79300.0
26   1028         Kalvin Phillips    fixed   78800.0
27   1029            David Willey   saving   58100.0
28   1030      Dominik Szoboszlai  current   83150.0
29   1031              Tom Banton      ppf   98100.0
30   1032               Luke Shaw    fixed   88700.0
31   1033            Sam Billings   saving   51450.0
32   1034         Kieran Trippier  current   56000.0
33   1035             Pat Cummins      ppf   55950.0
34   1036         James Tarkowski    fixed   79500.0
35   1037              Dom Sibley   saving   89200.0
36   1038           Harvey Barnes  current   50200.0
37   1039              Sadio Mane      ppf   49400.0
38   1040            Tyrone Mings    fixed   49900.0
39   1041             Steven Finn   saving   59300.0
40   1042          Anthony Gordon  current   69700.0
41   1043            Danny Briggs      ppf   69300.0
42   1044            Darwin Nunez    fixed   69100.0
43   1045             Steve Smith   saving   51100.0
44   1046            James Justin  current   59400.0
45   1047          Enzo Fernandez      ppf   68700.0
46   1048              Lewis Dunk    fixed   39800.0
47   1049            Chris Jordan   saving   29700.0
48   1050         Virgil Van Dijk  current   93700.0
49   1051                 Sharayu    fixed  123500.0

In [10]:
df1=pandas.read_sql("select * from employees where dept='sales'",con)
print(df1)

   empno          empnm   dept        post   location   salary
0    104    Amit Sharma  Sales     Manager     Mumbai  75000.0
1    115    Meena Reddy  Sales        Lead  Hyderabad  69000.0
2    120     Manoj Nair  Sales  Consultant     Mumbai  70000.0
3    125    Ashok Pawar  Sales   Executive  Hyderabad  62000.0
4    131  Mohamed Salah  sales   executive      cairo  29400.0

/tmp/ipython-input-2919283305.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1=pandas.read_sql("select * from employees where dept='sales'",con)

In [7]:
df2=pandas.read_sql("select * from students",con)
print(df2)

    regno             studname                   course
0     113                gauri          data structures
1     114      Prajakta Murade         java spring boot
2     121           tom cruise            generative ai
3     122         keanu reeves              core python
4     123      aditi deshpande             data science
5     124        Riya Deshmukh               Agentic Ai
6     125                 yash                   python
7     127            amir khan            mongodb atlas
8     128    kartikesh tongase           data analytics
9     130        Janhavi Chede                   Python
10    131          Bhagyashree   AI-ML and Data Science
11    132               Milind           Data Analytics
12    142                Sneha  Artificial Intelligence
13    221  Shrutesh Wadibhasme      AI and Data science
14    331          Mansi Kalse         data engineering
15    332          Jos Buttler                   Oracle
16    333          Pat Cummins                  MongoDB
17    334   Dominik Szoboszlai              spring boot
18    335        Mohamed Salah           Data Analytics
19    336          Bukayo Saka                 Power BI
20    337             Joe Root                 Power BI

/tmp/ipython-input-710541225.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2=pandas.read_sql("select * from students",con)

In [11]:
con.close()