In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 20.2 MB/s eta 0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 20.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.5

In [2]:
import pandas
from pymongo import MongoClient

In [3]:
client=MongoClient("mongodb+srv://praffull:mongodb913@sharayucluster.vzrlbsf.mongodb.net/?appName=sharayucluster")

In [9]:
db=client["sohamdb"]

In [10]:
coll=db["films"]

In [11]:
data=list(coll.find())
print(data)

[{'_id': '151', 'filmnm': 'sholay', 'category': 'action', 'releaseyr': 1975, 'written': 'salim javed', 'director': 'ramesh sippy', 'actor': 'amitabh bachchan', 'actress': 'jaya bhaduri', 'music': 'r d burman', 'villain': 'amjad khan', 'budgetmn': 30, 'collectionmn': 410}, {'_id': '152', 'filmnm': 'pk', 'category': 'comedy', 'releaseyr': 2014, 'director': 'rajkumar hirani', 'actor': 'amir khan', 'actress': 'anushka sharma', 'budgetmn': 850, 'collectionmn': 8540}, {'_id': '153', 'filmnm': 'the matrix', 'category': 'action', 'releaseyr': 1999, 'director': 'wachowski bros', 'actor': 'keanu reeves', 'actress': 'carrie-anne moss', 'budgetmn': 4725, 'collectionmn': 34950}, {'_id': '154', 'filmnm': 'mughal e azam', 'category': 'romance', 'releaseyr': 1960, 'director': 'k asif', 'actor': 'dilip kumar', 'actress': 'madhubala', 'music': 'naushad', 'budgetmn': 15, 'collectionmn': 110}, {'_id': '155', 'filmnm': 'mi5 rogue nation', 'category': 'action', 'releaseyr': 2015, 'director': 'christopher mcquarrie', 'actor': 'tom cruise', 'actress': 'rebeccca ferguson', 'budgetmn': 11250, 'collectionmn': 51225}, {'_id': '156', 'filmnm': 'maya', 'category': 'romance', 'releaseyr': 1961, 'actor': 'dev anand', 'actress': 'mala sinha', 'music': 'salil choudhari'}, {'_id': '157', 'filmnm': '1942 a love story', 'category': 'romance', 'releaseyr': 1994, 'director': 'vidhu vinod chopra', 'actor': 'anil kapoor', 'actress': 'manisha koirala', 'music': 'r d burman', 'budgetmn': 257, 'collectionmn': 896}, {'_id': '158', 'filmnm': 'chalti ka naam gaadi', 'category': 'comedy', 'releaseyr': 1958, 'director': 'satyen bose', 'actor': 'koshore kumar', 'actress': 'madhubala', 'music': 's d burman', 'villain': 'k n singh'}, {'_id': '159', 'filmnm': 'golmaal 3', 'category': 'comedy', 'releaseyr': 2010, 'director': 'rohit shetty', 'actor': 'ajay devgan', 'actress': 'kareena kapoor khan', 'comedian': 'johny lever', 'budgetmn': 350, 'collectionmn': 1692}, {'_id': '160', 'filmnm': 'bhoot', 'category': 'horror', 'releaseyr': 2003, 'director': 'ram gopal verma', 'actress': 'urmila matondkar', 'music': 'salim sulaiman'}, {'_id': '161', 'filmnm': 'silsila', 'category': 'romance', 'releaseyr': 1981, 'director': 'yash chopra', 'actor': 'amitabh bachchan', 'actress': 'rekha', 'music': 'shiv hari'}, {'_id': '162', 'filmnm': 'swades', 'category': 'drama', 'releaseyr': 2004, 'director': 'ashutosh gowarikar', 'actor': 'shah rukh khan', 'music': 'a r rahman', 'budgetmn': 250, 'collectionmn': 380}, {'_id': '163', 'filmnm': '1917', 'category': 'war', 'releaseyr': 2019, 'director': 'sam mendes', 'actor': 'george mackay', 'cinematography': 'roger deakins', 'budgetmn': 7125, 'collectionmn': 28875}]

In [12]:
df=pandas.DataFrame(data)
print(df)

    _id                filmnm category  releaseyr      written  \
0   151                sholay   action       1975  salim javed
1   152                    pk   comedy       2014          NaN
2   153            the matrix   action       1999          NaN
3   154         mughal e azam  romance       1960          NaN
4   155      mi5 rogue nation   action       2015          NaN
5   156                  maya  romance       1961          NaN
6   157     1942 a love story  romance       1994          NaN
7   158  chalti ka naam gaadi   comedy       1958          NaN
8   159             golmaal 3   comedy       2010          NaN
9   160                 bhoot   horror       2003          NaN
10  161               silsila  romance       1981          NaN
11  162                swades    drama       2004          NaN
12  163                  1917      war       2019          NaN

                 director             actor              actress  \
0            ramesh sippy  amitabh bachchan         jaya bhaduri
1         rajkumar hirani         amir khan       anushka sharma
2          wachowski bros      keanu reeves     carrie-anne moss
3                  k asif       dilip kumar            madhubala
4   christopher mcquarrie        tom cruise    rebeccca ferguson
5                     NaN         dev anand           mala sinha
6      vidhu vinod chopra       anil kapoor      manisha koirala
7             satyen bose     koshore kumar            madhubala
8            rohit shetty       ajay devgan  kareena kapoor khan
9         ram gopal verma               NaN     urmila matondkar
10            yash chopra  amitabh bachchan                rekha
11     ashutosh gowarikar    shah rukh khan                  NaN
12             sam mendes     george mackay                  NaN

              music     villain  budgetmn  collectionmn     comedian  \
0        r d burman  amjad khan      30.0         410.0          NaN
1               NaN         NaN     850.0        8540.0          NaN
2               NaN         NaN    4725.0       34950.0          NaN
3           naushad         NaN      15.0         110.0          NaN
4               NaN         NaN   11250.0       51225.0          NaN
5   salil choudhari         NaN       NaN           NaN          NaN
6        r d burman         NaN     257.0         896.0          NaN
7        s d burman   k n singh       NaN           NaN          NaN
8               NaN         NaN     350.0        1692.0  johny lever
9    salim sulaiman         NaN       NaN           NaN          NaN
10        shiv hari         NaN       NaN           NaN          NaN
11       a r rahman         NaN     250.0         380.0          NaN
12              NaN         NaN    7125.0       28875.0          NaN

   cinematography
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10            NaN
11            NaN
12  roger deakins

In [13]:
db1=client["spiderdb"]
coll1=db1["students"]
data1=list(coll1.find())
df1=pandas.DataFrame(data1)
print(df1)

                         _id  rollno         name qualification  semester  \
0   68fd943e73e2928a82cebea4     251        soham         btech       5.0
1   68fd94cd73e2928a82cebea5     252     shailaja           NaN       NaN
2   69021b6bb17e362338cebea4     253        megha           NaN       NaN
3   69021de3e05356a98d1e9246     255      sharayu           NaN       NaN
4   69021e0ac49704562c7ed738     300      Sparsh            NaN       NaN
5   69021ea3d3d0b3957806b065     257    kartikesh           NaN       NaN
6   69021ec7205906fe15b4f096     358      Devyani           NaN       NaN
7   69021f62b1a9c5137768e78d     256  Bhagyashree           NaN       NaN
8   6902207bb39b35a9408fd691     350        gauri           NaN       NaN
9   69022115890f968427b0738c     258       mayuri           NaN       NaN
10  69035d03a91859aae250f3d2     334     Prajakta           NaN       NaN

   branch          course      mobile     jobprofile  experience    company
0     cse     spring boot  9890925745            NaN         NaN        NaN
1     NaN           spark  7391966656  data engineer         5.0  microsoft
2     NaN       ai agents         NaN            NaN         NaN        NaN
3     NaN          oracle         NaN            NaN         NaN        NaN
4     NaN   Quant Finance         NaN            NaN         NaN        NaN
5     NaN          python         NaN            NaN         NaN        NaN
6     NaN  cyber security         NaN            NaN         NaN        NaN
7     NaN     Spring Boot         NaN            NaN         NaN        NaN
8     NaN     core python         NaN            NaN         NaN        NaN
9     NaN     core python         NaN            NaN         NaN        NaN
10    NaN          python         NaN            NaN         NaN        NaN