In [1]:
import pandas

In [2]:
url="http://sohamspring.azurewebsites.net/api/players/all"

In [3]:
df=pandas.read_json(url)
print(df)

     playerno          playernm    position  country         club
0         913       Will Dennis  Goalkeeper  England  Bournemouth
1         914      Mark Travers  Goalkeeper  Ireland  Bournemouth
2         915       Lloyd Kelly    Defender  England  Bournemouth
3         916      Chris Mepham    Defender    Wales  Bournemouth
4         917        Adam Smith    Defender  England  Bournemouth
..        ...               ...         ...      ...          ...
446      1360       Diego Costa     Forward    Spain       Wolves
447      1361     Chem Campbell  Midfielder    Wales       Wolves
448      1362  Harvey Griffiths  Midfielder  England       Wolves
449      1363     Nathan Fraser     Forward  Ireland       Wolves
450      1364  Dexter Lembikisa    Defender  Jamaica       Wolves

[451 rows x 5 columns]

In [4]:
url1="http://sohamspring.azurewebsites.net/api/accounts/all"
df1=pandas.read_json(url1)
print(df1)

    accno                    accnm  acctype  balance
0    1001         sachin tendulkar   saving    45000
1    1002          maria sharapova    fixed    23100
2    1003         mitchell johnson  current    15300
3    1004              edan hazard   saving    41300
4    1005       robert lewandowski   saving    21600
5    1006            gabriel jesus    fixed    37100
6    1008            marcos alonso   saving    33900
7    1009               david luiz  current    28400
8    1010              steve smith    fixed    61150
9    1012              zaheer khan   saving    22570
10   1013         antoine griezman    fixed    37640
11   1014           nasser hussain   saving    53760
12   1015               paul pogba   saving    67370
13   1016             garry cahill  current    39550
14   1017         thibaut courtois    fixed    97550
15   1018        cesar azpilicueta  current    82716
16   1019            cesc fabregas  current    82716
17   1020              ngolo kante    fixed    55871
18   1021           james anderson  current    63228
19   1022               ollie pope   saving    75961
20   1023                 moin ali  current    26551
21   1024               sam curran      ppf    63558
22   1025      andreas christensen   saving    68523
23   1026            alvaro morata   saving    96995
24   1027         liam livingstone  current    49668
25   1028                mark wood    fixed    75442
26   1029            mohamed salah   saving    83229
27   1030               sadio mane      ppf    45889
28   1031          roberto firmino    fixed    96321
29   1032  alex oxlade chamberlain  current    58449
30   1033      alexandre lacazette   saving    36227
31   1034          raheem sterling    fixed    62994
32   1035               harry kane  current    78751
33   1036                dele alli    fixed    96637
34   1037              hugo lloris   saving    84552
35   1038               bill gates  current    93119
36   1039                amir khan   saving    66554
37   1040              adil rashid      ppf    39870
38   1041             chris jordan   saving    55400
39   1042                jason roy   saving    29750
40   1043             chris woakes      ppf    50000
41   1044               alex hales   saving    38540
42   1045              dawid malan   saving    62100
43   1046               ben stokes   saving    57500
44   1047                 joe root      ppf   125000
45   1048                 isa guha   saving    72300
46   1049             ravi shastri   saving    55040
47   1050            harsha bhogle   saving    87980
48   1051             irfan pathan      ppf    75000
49   1052              patric jane      ppf    87500
50   1053           manmohan singh    fixed   300000

In [5]:
url2="http://sohamspring.azurewebsites.net/api/orders/all"
df2=pandas.read_json(url2)
print(df2)

                   custnm        city    prodnm        company     price
0            Boris Becker      berlin     Amaze          Honda    665000
1      Sylvester Stallone     Kolkata    Baleno  Maruti Suzuki    642000
2           Roger Federer   amsterdam      City          Honda    950000
3               Alia Bhat     lucknow     Creta        Hyundai   1044000
4              A R Rahman     chennai     Creta        Hyundai   1044000
5   Arnold Schwarzenegger  los angles  Fortuner         Toyota   3258000
6            Keanu Reeves       tokyo  Fortuner         Toyota   3258000
7              Imran Khan      lahore  Fortuner         Toyota   3258000
8            Dipika Singh      mumbai    Innova         Toyota   1809000
9        Sabastian Vettel  heppenheim    Kodiaq          Skoda   3749000
10               Joe Root      london    Kushaq          Skoda   1158000
11         Shah Rukh Khan   new delhi    Safari           Tata   1545000
12          Anne Hathaway        Agra     Swift  Maruti Suzuki    591000
13            Emily Blunt      london    Taigun     Volkswagen   1256000
14                   Tabu   hyderabad    Tiguan     Volkswagen   3375000
15            Jos Buttler  manchester    Tiguan     Volkswagen   3375000
16                  Rekha     chennai     Venue        Hyundai    753000
17            Steffi Graf   stuttgart    Virtus     Volkswagen   1132000
18             Tom Cruise     chicago        XM            BMW  12500000
19     Michael Schumacher      berlin        XM            BMW  12500000