In [1]:
import numpy
import pandas

In [2]:
df=pandas.DataFrame(numpy.random.rand(10,4),columns=['mumbai','chennai','hyderabad','kolkata'])
print(df)

     mumbai   chennai  hyderabad   kolkata
0  0.232859  0.241361   0.677154  0.921353
1  0.987099  0.837611   0.332394  0.398361
2  0.212275  0.400593   0.472525  0.982191
3  0.411017  0.553685   0.292102  0.008640
4  0.014007  0.901570   0.216183  0.443984
5  0.636328  0.208288   0.273375  0.436040
6  0.982045  0.545030   0.156781  0.465445
7  0.294793  0.112961   0.503979  0.429760
8  0.104932  0.140219   0.637325  0.016143
9  0.749939  0.988247   0.087845  0.155621