In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 15.1 MB/s eta 0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 18.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.5

In [2]:
import pandas
from pymongo import MongoClient

In [3]:
client=MongoClient("mongodb+srv://praffull:mongodb913@sharayucluster.vzrlbsf.mongodb.net/?appName=sharayucluster")

In [4]:
db=client["sohamdb"]

In [5]:
coll=db["films"]

In [6]:
data=list(coll.find())

In [7]:
df=pandas.DataFrame(data)
print(df)

    _id                filmnm category  releaseyr      written  \
0   151                sholay   action       1975  salim javed
1   152                    pk   comedy       2014          NaN
2   153            the matrix   action       1999          NaN
3   154         mughal e azam  romance       1960          NaN
4   155      mi5 rogue nation   action       2015          NaN
5   156                  maya  romance       1961          NaN
6   157     1942 a love story  romance       1994          NaN
7   158  chalti ka naam gaadi   comedy       1958          NaN
8   159             golmaal 3   comedy       2010          NaN
9   160                 bhoot   horror       2003          NaN
10  161               silsila  romance       1981          NaN
11  162                swades    drama       2004          NaN
12  163                  1917      war       2019          NaN

                 director             actor              actress  \
0            ramesh sippy  amitabh bachchan         jaya bhaduri
1         rajkumar hirani         amir khan       anushka sharma
2          wachowski bros      keanu reeves     carrie-anne moss
3                  k asif       dilip kumar            madhubala
4   christopher mcquarrie        tom cruise    rebeccca ferguson
5                     NaN         dev anand           mala sinha
6      vidhu vinod chopra       anil kapoor      manisha koirala
7             satyen bose     koshore kumar            madhubala
8            rohit shetty       ajay devgan  kareena kapoor khan
9         ram gopal verma               NaN     urmila matondkar
10            yash chopra  amitabh bachchan                rekha
11     ashutosh gowarikar    shah rukh khan                  NaN
12             sam mendes     george mackay                  NaN

              music     villain  budgetmn  collectionmn     comedian  \
0        r d burman  amjad khan      30.0         410.0          NaN
1               NaN         NaN     850.0        8540.0          NaN
2               NaN         NaN    4725.0       34950.0          NaN
3           naushad         NaN      15.0         110.0          NaN
4               NaN         NaN   11250.0       51225.0          NaN
5   salil choudhari         NaN       NaN           NaN          NaN
6        r d burman         NaN     257.0         896.0          NaN
7        s d burman   k n singh       NaN           NaN          NaN
8               NaN         NaN     350.0        1692.0  johny lever
9    salim sulaiman         NaN       NaN           NaN          NaN
10        shiv hari         NaN       NaN           NaN          NaN
11       a r rahman         NaN     250.0         380.0          NaN
12              NaN         NaN    7125.0       28875.0          NaN

   cinematography
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10            NaN
11            NaN
12  roger deakins

In [8]:
print(pandas.isnull(df))

      _id  filmnm  category  releaseyr  written  director  actor  actress  \
0   False   False     False      False    False     False  False    False
1   False   False     False      False     True     False  False    False
2   False   False     False      False     True     False  False    False
3   False   False     False      False     True     False  False    False
4   False   False     False      False     True     False  False    False
5   False   False     False      False     True      True  False    False
6   False   False     False      False     True     False  False    False
7   False   False     False      False     True     False  False    False
8   False   False     False      False     True     False  False    False
9   False   False     False      False     True     False   True    False
10  False   False     False      False     True     False  False    False
11  False   False     False      False     True     False  False     True
12  False   False     False      False     True     False  False     True

    music  villain  budgetmn  collectionmn  comedian  cinematography
0   False    False     False         False      True            True
1    True     True     False         False      True            True
2    True     True     False         False      True            True
3   False     True     False         False      True            True
4    True     True     False         False      True            True
5   False     True      True          True      True            True
6   False     True     False         False      True            True
7   False    False      True          True      True            True
8    True     True     False         False     False            True
9   False     True      True          True      True            True
10  False     True      True          True      True            True
11  False     True     False         False      True            True
12   True     True     False         False      True           False

Remove rows with null values

In [9]:
res=df.dropna()
print(res)

Empty DataFrame
Columns: [_id, filmnm, category, releaseyr, written, director, actor, actress, music, villain, budgetmn, collectionmn, comedian, cinematography]
Index: []

Remove columns with null values

In [10]:
res=df.dropna(axis=1)
print(res)

    _id                filmnm category  releaseyr
0   151                sholay   action       1975
1   152                    pk   comedy       2014
2   153            the matrix   action       1999
3   154         mughal e azam  romance       1960
4   155      mi5 rogue nation   action       2015
5   156                  maya  romance       1961
6   157     1942 a love story  romance       1994
7   158  chalti ka naam gaadi   comedy       1958
8   159             golmaal 3   comedy       2010
9   160                 bhoot   horror       2003
10  161               silsila  romance       1981
11  162                swades    drama       2004
12  163                  1917      war       2019

Replace null with a value

In [11]:
df['actor'].fillna('unknown',inplace=True)
print(df)

    _id                filmnm category  releaseyr      written  \
0   151                sholay   action       1975  salim javed
1   152                    pk   comedy       2014          NaN
2   153            the matrix   action       1999          NaN
3   154         mughal e azam  romance       1960          NaN
4   155      mi5 rogue nation   action       2015          NaN
5   156                  maya  romance       1961          NaN
6   157     1942 a love story  romance       1994          NaN
7   158  chalti ka naam gaadi   comedy       1958          NaN
8   159             golmaal 3   comedy       2010          NaN
9   160                 bhoot   horror       2003          NaN
10  161               silsila  romance       1981          NaN
11  162                swades    drama       2004          NaN
12  163                  1917      war       2019          NaN

                 director             actor              actress  \
0            ramesh sippy  amitabh bachchan         jaya bhaduri
1         rajkumar hirani         amir khan       anushka sharma
2          wachowski bros      keanu reeves     carrie-anne moss
3                  k asif       dilip kumar            madhubala
4   christopher mcquarrie        tom cruise    rebeccca ferguson
5                     NaN         dev anand           mala sinha
6      vidhu vinod chopra       anil kapoor      manisha koirala
7             satyen bose     koshore kumar            madhubala
8            rohit shetty       ajay devgan  kareena kapoor khan
9         ram gopal verma           unknown     urmila matondkar
10            yash chopra  amitabh bachchan                rekha
11     ashutosh gowarikar    shah rukh khan                  NaN
12             sam mendes     george mackay                  NaN

              music     villain  budgetmn  collectionmn     comedian  \
0        r d burman  amjad khan      30.0         410.0          NaN
1               NaN         NaN     850.0        8540.0          NaN
2               NaN         NaN    4725.0       34950.0          NaN
3           naushad         NaN      15.0         110.0          NaN
4               NaN         NaN   11250.0       51225.0          NaN
5   salil choudhari         NaN       NaN           NaN          NaN
6        r d burman         NaN     257.0         896.0          NaN
7        s d burman   k n singh       NaN           NaN          NaN
8               NaN         NaN     350.0        1692.0  johny lever
9    salim sulaiman         NaN       NaN           NaN          NaN
10        shiv hari         NaN       NaN           NaN          NaN
11       a r rahman         NaN     250.0         380.0          NaN
12              NaN         NaN    7125.0       28875.0          NaN

   cinematography
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN
10            NaN
11            NaN
12  roger deakins

/tmp/ipython-input-896115560.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['actor'].fillna('unknown',inplace=True)

In [12]:
res=df.dropna(axis=1)
print(res)

    _id                filmnm category  releaseyr             actor
0   151                sholay   action       1975  amitabh bachchan
1   152                    pk   comedy       2014         amir khan
2   153            the matrix   action       1999      keanu reeves
3   154         mughal e azam  romance       1960       dilip kumar
4   155      mi5 rogue nation   action       2015        tom cruise
5   156                  maya  romance       1961         dev anand
6   157     1942 a love story  romance       1994       anil kapoor
7   158  chalti ka naam gaadi   comedy       1958     koshore kumar
8   159             golmaal 3   comedy       2010       ajay devgan
9   160                 bhoot   horror       2003           unknown
10  161               silsila  romance       1981  amitabh bachchan
11  162                swades    drama       2004    shah rukh khan
12  163                  1917      war       2019     george mackay

In [13]:
data={'Name':['Jos','Joe','Ben','Steve',None,'Pat'],
      'Age':[33,31,None,34,29,None]}
df=pandas.DataFrame(data)
print(df)

    Name   Age
0    Jos  33.0
1    Joe  31.0
2    Ben   NaN
3  Steve  34.0
4   None  29.0
5    Pat   NaN

In [14]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
print(df)

    Name    Age
0    Jos  33.00
1    Joe  31.00
2    Ben  31.75
3  Steve  34.00
4   None  29.00
5    Pat  31.75

/tmp/ipython-input-2591424001.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)