**Retrieve data from the pandas dataframe on the basic of row and columns**

In [1]:
import pandas

In [2]:
url="http://sohamspring.azurewebsites.net/api/accounts/all"
df=pandas.read_json(url)
print(df)

    accno                    accnm  acctype  balance
0    1001         sachin tendulkar   saving    45000
1    1002          maria sharapova    fixed    23100
2    1003         mitchell johnson  current    15300
3    1004              edan hazard   saving    41300
4    1005       robert lewandowski   saving    21600
5    1006            gabriel jesus    fixed    37100
6    1008            marcos alonso   saving    33900
7    1009               david luiz  current    28400
8    1010              steve smith    fixed    61150
9    1012              zaheer khan   saving    22570
10   1013         antoine griezman    fixed    37640
11   1014           nasser hussain   saving    53760
12   1015               paul pogba   saving    67370
13   1016             garry cahill  current    39550
14   1017         thibaut courtois    fixed    97550
15   1018        cesar azpilicueta  current    82716
16   1019            cesc fabregas  current    82716
17   1020              ngolo kante    fixed    55871
18   1021           james anderson  current    63228
19   1022               ollie pope   saving    75961
20   1023                 moin ali  current    26551
21   1024               sam curran      ppf    63558
22   1025      andreas christensen   saving    68523
23   1026            alvaro morata   saving    96995
24   1027         liam livingstone  current    49668
25   1028                mark wood    fixed    75442
26   1029            mohamed salah   saving    83229
27   1030               sadio mane      ppf    45889
28   1031          roberto firmino    fixed    96321
29   1032  alex oxlade chamberlain  current    58449
30   1033      alexandre lacazette   saving    36227
31   1034          raheem sterling    fixed    62994
32   1035               harry kane  current    78751
33   1036                dele alli    fixed    96637
34   1037              hugo lloris   saving    84552
35   1038               bill gates  current    93119
36   1039                amir khan   saving    66554
37   1040              adil rashid      ppf    39870
38   1041             chris jordan   saving    55400
39   1042                jason roy   saving    29750
40   1043             chris woakes      ppf    50000
41   1044               alex hales   saving    38540
42   1045              dawid malan   saving    62100
43   1046               ben stokes   saving    57500
44   1047                 joe root      ppf   125000
45   1048                 isa guha   saving    72300
46   1049             ravi shastri   saving    55040
47   1050            harsha bhogle   saving    87980
48   1051             irfan pathan      ppf    75000
49   1052              patric jane      ppf    87500
50   1053           manmohan singh    fixed   300000

In [3]:
#retrieve data from a specific column
print(df['accnm'])

0            sachin tendulkar
1             maria sharapova
2            mitchell johnson
3                 edan hazard
4          robert lewandowski
5               gabriel jesus
6               marcos alonso
7                  david luiz
8                 steve smith
9                 zaheer khan
10           antoine griezman
11             nasser hussain
12                 paul pogba
13               garry cahill
14           thibaut courtois
15          cesar azpilicueta
16              cesc fabregas
17                ngolo kante
18             james anderson
19                 ollie pope
20                   moin ali
21                 sam curran
22        andreas christensen
23              alvaro morata
24           liam livingstone
25                  mark wood
26              mohamed salah
27                 sadio mane
28            roberto firmino
29    alex oxlade chamberlain
30        alexandre lacazette
31            raheem sterling
32                 harry kane
33                  dele alli
34                hugo lloris
35                 bill gates
36                  amir khan
37                adil rashid
38               chris jordan
39                  jason roy
40               chris woakes
41                 alex hales
42                dawid malan
43                 ben stokes
44                   joe root
45                   isa guha
46               ravi shastri
47              harsha bhogle
48               irfan pathan
49                patric jane
50             manmohan singh
Name: accnm, dtype: object

In [4]:
#retrieve data from multiple columns
print(df[['accnm','balance']])

                      accnm  balance
0          sachin tendulkar    45000
1           maria sharapova    23100
2          mitchell johnson    15300
3               edan hazard    41300
4        robert lewandowski    21600
5             gabriel jesus    37100
6             marcos alonso    33900
7                david luiz    28400
8               steve smith    61150
9               zaheer khan    22570
10         antoine griezman    37640
11           nasser hussain    53760
12               paul pogba    67370
13             garry cahill    39550
14         thibaut courtois    97550
15        cesar azpilicueta    82716
16            cesc fabregas    82716
17              ngolo kante    55871
18           james anderson    63228
19               ollie pope    75961
20                 moin ali    26551
21               sam curran    63558
22      andreas christensen    68523
23            alvaro morata    96995
24         liam livingstone    49668
25                mark wood    75442
26            mohamed salah    83229
27               sadio mane    45889
28          roberto firmino    96321
29  alex oxlade chamberlain    58449
30      alexandre lacazette    36227
31          raheem sterling    62994
32               harry kane    78751
33                dele alli    96637
34              hugo lloris    84552
35               bill gates    93119
36                amir khan    66554
37              adil rashid    39870
38             chris jordan    55400
39                jason roy    29750
40             chris woakes    50000
41               alex hales    38540
42              dawid malan    62100
43               ben stokes    57500
44                 joe root   125000
45                 isa guha    72300
46             ravi shastri    55040
47            harsha bhogle    87980
48             irfan pathan    75000
49              patric jane    87500
50           manmohan singh   300000

In [5]:
#collect data from a specific row
print(df.loc[3])

accno             1004
accnm      edan hazard
acctype         saving
balance          41300
Name: 3, dtype: object

In [6]:
#retrieve data of multiple rows
print(df.loc[5:9])

   accno          accnm  acctype  balance
5   1006  gabriel jesus    fixed    37100
6   1008  marcos alonso   saving    33900
7   1009     david luiz  current    28400
8   1010    steve smith    fixed    61150
9   1012    zaheer khan   saving    22570

In [8]:
#retrieve column value of spec row
print(df.loc[13,'accnm'])

garry cahill

In [9]:
#retrieve multiple column values of a spec row
print(df.loc[15,['accnm','acctype','balance']])

accnm      cesar azpilicueta
acctype              current
balance                82716
Name: 15, dtype: object

In [10]:
#retrieve data of multiple rows and single column
print(df.loc[11:17,'accnm'])

11       nasser hussain
12           paul pogba
13         garry cahill
14     thibaut courtois
15    cesar azpilicueta
16        cesc fabregas
17          ngolo kante
Name: accnm, dtype: object

In [11]:
#retrieve multiple rows of multiple columns
print(df.loc[3:9,['accnm','balance']])

                accnm  balance
3         edan hazard    41300
4  robert lewandowski    21600
5       gabriel jesus    37100
6       marcos alonso    33900
7          david luiz    28400
8         steve smith    61150
9         zaheer khan    22570