In [1]:
import pandas

In [2]:
df=pandas.DataFrame(columns=['Name','Science','English','Maths'])
print(df)

Empty DataFrame
Columns: [Name, Science, English, Maths]
Index: []

In [3]:
df.loc[0]=['Sharayu',79,73,82]
print(df)

      Name  Science  English  Maths
0  Sharayu       79       73     82

In [4]:
df.loc[1]=['Megha',81,68,87]
print(df)

      Name  Science  English  Maths
0  Sharayu       79       73     82
1    Megha       81       68     87

In [5]:
df.loc[2,['Name','English']]=['Shailaja',72]
print(df)

       Name  Science  English  Maths
0   Sharayu     79.0     73.0   82.0
1     Megha     81.0     68.0   87.0
2  Shailaja      NaN     72.0    NaN

In [6]:
df.loc[2,'Maths']=74
print(df)

       Name  Science  English  Maths
0   Sharayu     79.0     73.0   82.0
1     Megha     81.0     68.0   87.0
2  Shailaja      NaN     72.0   74.0

In [7]:
df.loc[1,'Name']='Owee'
print(df)

       Name  Science  English  Maths
0   Sharayu     79.0     73.0   82.0
1      Owee     81.0     68.0   87.0
2  Shailaja      NaN     72.0   74.0

In [8]:
df.loc[3,'Name']='Jonty'
print(df)

       Name  Science  English  Maths
0   Sharayu     79.0     73.0   82.0
1      Owee     81.0     68.0   87.0
2  Shailaja      NaN     72.0   74.0
3     Jonty      NaN      NaN    NaN

**Insert column in the DataFrame**

In [9]:
dic={
    'country':['usa','england','france','germany','japan'],
    'capital':['washington','london','paris','berlin','tokyo']
}
df=pandas.DataFrame(dic)
print(df)

   country     capital
0      usa  washington
1  england      london
2   france       paris
3  germany      berlin
4    japan       tokyo

In [10]:
#df.insert(0,'code',[131,132,133,134,135])
df.insert(0,'code',[x for x in range(131,136)])
print(df)

   code  country     capital
0   131      usa  washington
1   132  england      london
2   133   france       paris
3   134  germany      berlin
4   135    japan       tokyo

In [11]:
lst=['USD','pounds','euro','euro','yen']

In [12]:
df.insert(3,'currency',lst)
print(df)

   code  country     capital currency
0   131      usa  washington      USD
1   132  england      london   pounds
2   133   france       paris     euro
3   134  germany      berlin     euro
4   135    japan       tokyo      yen