In [2]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [3]:
import numpy
import pymysql

In [4]:
con=pymysql.connect(host='mysql-pyprojects-python-apps.b.aivencloud.com',port=18733,user='praffull',password='AVNS_rAHnLeXr31XIltE9DAh',database='sharayudb')
print('connected to mysql cloud database successfully')

connected to mysql cloud database successfully

In [5]:
curs=con.cursor()

In [6]:
curs.execute("select * from employees")
data=curs.fetchall()
arr=numpy.array(data)
print(arr)

[['101' 'praffull' 'data' 'analyst' 'mumbai' '41000.0']
 ['102' 'sharayu' 'development' 'spring developer' 'hyderabad' '48700.0']
 ['103' 'megha' 'projects' 'coordinator' 'tokyo' '52100.0']
 ['104' 'Amit Sharma' 'Sales' 'Manager' 'Mumbai' '75000.0']
 ['105' 'Keiko Tanaka' 'IT' 'Developer' 'Tokyo' '82000.0']
 ['106' 'Ravi Deshmukh' 'HR' 'Executive' 'Hyderabad' '58000.0']
 ['107' 'Yuki Nakamura' 'Finance' 'Analyst' 'Tokyo' '91000.0']
 ['108' 'Sneha Joshi' 'Marketing' 'Lead' 'Mumbai' '67000.0']
 ['109' 'Rajiv Menon' 'IT' 'Tester' 'Hyderabad' '60000.0']
 ['111' 'Priya Kulkarni' 'HR' 'Manager' 'Mumbai' '78000.0']
 ['112' 'Takeshi Mori' 'IT' 'Architect' 'Tokyo' '95000.0']
 ['113' 'Anjali Verma' 'Finance' 'Executive' 'Hyderabad' '64000.0']
 ['114' 'Kiran Patil' 'Marketing' 'Coordinator' 'Mumbai' '56000.0']
 ['115' 'Meena Reddy' 'Sales' 'Lead' 'Hyderabad' '69000.0']
 ['116' 'Satoshi Yamamoto' 'IT' 'DevOps' 'Tokyo' '88000.0']
 ['117' 'Vikram Rao' 'HR' 'Recruiter' 'Mumbai' '61000.0']
 ['118' 'Akira Fujimoto' 'Finance' 'Manager' 'Tokyo' '99000.0']
 ['119' 'Neha Bhosale' 'Marketing' 'Executive' 'London' '81500.0']
 ['120' 'Manoj Nair' 'Sales' 'Consultant' 'Mumbai' '70000.0']
 ['121' 'Yui Aoyama' 'IT' 'Engineer' 'Tokyo' '87000.0']
 ['122' 'Suresh Iyer' 'HR' 'Trainer' 'Hyderabad' '59000.0']
 ['123' 'Rekha Pandey' 'Finance' 'Analyst' 'Mumbai' '76000.0']
 ['124' 'Naoko Suzuki' 'Marketing' 'Strategist' 'Tokyo' '94000.0']
 ['125' 'Ashok Pawar' 'Sales' 'Executive' 'Hyderabad' '62000.0']
 ['126' 'Chinmay Desai' 'IT' 'Support' 'Mumbai' '58000.0']
 ['127' 'Hiroshi Kondo' 'HR' 'Consultant' 'Tokyo' '81000.0']
 ['128' 'Deepa Jagtap' 'Finance' 'Executive' 'Hyderabad' '65000.0']
 ['129' 'Jos Buttler' 'marketing' 'executive' 'london' '35690.0']
 ['130' 'Pat Cummins' 'admin' 'manager' 'sydney' '31200.0']
 ['131' 'Mohamed Salah' 'sales' 'executive' 'cairo' '29400.0']]

In [7]:
curs.execute("select * from students")
data=curs.fetchall()
arr1=numpy.array(data)
print(arr1)

[['113' 'gauri' 'data structures']
 ['114' 'Prajakta Murade' 'java spring boot']
 ['121' 'tom cruise' 'generative ai']
 ['122' 'keanu reeves' 'core python']
 ['123' 'aditi deshpande' 'data science']
 ['124' 'Riya Deshmukh' 'Agentic Ai']
 ['125' 'yash' 'python']
 ['127' 'amir khan' 'mongodb atlas']
 ['128' 'kartikesh tongase' 'data analytics']
 ['130' 'Janhavi Chede' 'Python']
 ['131' 'Bhagyashree' 'AI-ML and Data Science']
 ['132' 'Milind' 'Data Analytics']
 ['142' 'Sneha' 'Artificial Intelligence']
 ['221' 'Shrutesh Wadibhasme' 'AI and Data science']
 ['331' 'Mansi Kalse' 'data engineering']
 ['332' 'Jos Buttler' 'Oracle']
 ['333' 'Pat Cummins' 'MongoDB']
 ['334' 'Dominik Szoboszlai' 'spring boot']
 ['335' 'Mohamed Salah' 'Data Analytics']
 ['336' 'Bukayo Saka' 'Power BI']
 ['337' 'Joe Root' 'Power BI']]

In [8]:
con.close()